{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to LilCommerce. </p>
        </div>
    </div>
</header>
<br>
<br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusantium dolores ipsum tempora, quidem porro deleniti quisquam officiis quas cumque quos optio cum error animi numquam dolore hic reiciendis voluptas quaerat? Ipsam consectetur, provident molestias quidem ratione dolorum atque non neque laborum modi nostrum dicta aliquam libero debitis sapiente facilis, omnis doloribus sit eius repellat commodi praesentium! Perspiciatis animi iure itaque in perferendis maxime, fugiat earum quis quos fugit corporis?
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusantium dolores ipsum tempora, quidem porro deleniti quisquam officiis quas cumque quos optio cum error animi numquam dolore hic reiciendis voluptas quaerat? Ipsam consectetur, provident molestias quidem ratione dolorum atque non neque laborum modi nostrum dicta aliquam libero debitis sapiente facilis, omnis doloribus sit eius repellat commodi praesentium! Perspiciatis animi iure itaque in perferendis maxime, fugiat earum quis quos fugit corporis?
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusantium dolores ipsum tempora, quidem porro deleniti quisquam officiis quas cumque quos optio cum error animi numquam dolore hic reiciendis voluptas quaerat? Ipsam consectetur, provident molestias quidem ratione dolorum atque non neque laborum modi nostrum dicta aliquam libero debitis sapiente facilis, omnis doloribus sit eius repellat commodi praesentium! Perspiciatis animi iure itaque in perferendis maxime, fugiat earum quis quos fugit corporis?
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}